.post p {
  @apply leading-7;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-orange-500;
}

.post h2 {
  @apply mt-6 text-3xl text-neutral-100;
}

.post h3 {
  @apply mt-4 text-xl text-neutral-100;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-red-500;
}

.post a {
  @apply text-neutral-100 underline;
}

.post ul {
  @apply list-disc;
}

.post blockquote {
  @apply flex flex-row gap-2 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-red-400 before:content-[''];
}

.post pre {
  @apply p-4;
}

.post pre > code {
  @apply bg-transparent;
}


@font-face {
  font-family: 'Noticia Text';
  src: url('/NoticiaText-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Noticia Text';
  src: url('/NoticiaText-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Playwright Peru';
  src: url('/PlaywritePE-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'Noticia Text', sans-serif;
}

/* Title Styling */
.fancy {
  font-family: 'Playwright Peru', serif;
}

/* Bold Component Styling */
.bolded {
  font-family: 'Noticia Text', sans-serif;
  font-weight: bold;
}
:root {
  --bg: #0a0a0a;       /* Rich black */
  --text: #fafafa;     /* Pure white */
  --primary: #8b5cf6;  /* Vibrant purple */
  --secondary: #3b0764;/* Deep purple */
  --muted: #a3a3a3;    /* Gray for less important text */
}

/* global.css */
a, .hover-transition {
  transition: color 300ms ease;
}